.container {
  height: calc(100% - 65px);
  flex-direction: column;
  box-sizing: border-box;
  display: flex;
  gap: 30px;
  max-height: 720px;
  max-width: 75%;
  min-width: 1175px;
  margin: auto;

  .search-container,
  .device-container {
    flex-direction: row;
    box-sizing: border-box;
    display: flex;
    place-content: center space-around;
    align-items: center;
  }

  .search-container {
    height: 100px;
    padding: 15px 0;
    background-color: rgba(216, 225, 255, 0.53);
    width: 95%;
    margin: auto;
    margin-top: 30px;

    .mat-form-field{
      width: 75%;
      background-color: white;

      input{
        height: 20px;
        margin-left: 10px;
      }
    }

    ::placeholder {
      font-size: 20px;
      line-height: 30px;
      padding-bottom: 5px;
      opacity: 1; /* Firefox */
    }

    .cancel-button {
      font-size: 25px;
      color: #1f95ff;
    }
  }

  .device-container {
    height: calc(100% - 120px);
    .devices-list,
    .device-details {
      height: 100%;
      overflow-y: auto;
      flex-direction: column;
      box-sizing: border-box;
      display: flex;
      place-content: center space-around;
      align-items: center;
      width: 48%;
    }

    .devices-list {
      border: none;
    }

    .device-details {
      border: 1px solid #cacaca;
    }
  }

  app-devices {
    height: 100%;
    width: 100%;
  }
}
