<div class="container">
  <div class="search-container">
    <mat-form-field appearance="outline">
      <mat-icon matPrefix>search</mat-icon>
      <input matInput [(ngModel)]="searchInput" (ngModelChange)="searchDevices($event)" placeholder="Search"
        [disabled]="!!selectedItem">
    </mat-form-field>
    <button [disabled]="!!selectedItem" class="cancel-button" (click)="clearSearch()" mat-button>Cancel</button>
  </div>

  <div class="device-container">
    <div class="devices-list">
      <app-devices (deviceSelected)="selectedItem = $event" [devicesList]="devices"></app-devices>
    </div>
    <div class="device-details">
      <p *ngIf="!selectedItem">Select one of the devices</p>
      <app-device-details *ngIf="selectedItem" (closeDetails)="selectedItem = null" [selectedItem]="selectedItem">
      </app-device-details>
    </div>
  </div>
</div>