.container {
  height: calc(100% - 65px);
  flex-direction: column;
  box-sizing: border-box;
  display: flex;
  gap: 30px;
  max-height: 720px;

  .search-container,
  .device-container {
    flex-direction: row;
    box-sizing: border-box;
    display: flex;
    place-content: center space-around;
    align-items: center;
  }

  .search-container {
    height: 100px;
    padding: 15px 0;
    background-color: rgba(216, 225, 255, 0.53);
    width: 95%;
    margin: auto;
    margin-top: 30px;

    .mat-form-field{
      width: 75%;
      background-color: white;
    }
  }

  .device-container {
    height: 100%;

    .devices-list,
    .device-details {
      height: 100%;
      overflow-y: auto;
      flex-direction: column;
      box-sizing: border-box;
      display: flex;
      place-content: center space-around;
      align-items: center;
      width: 48%;
    }

    .devices-list {
    }

    .device-details {
    }
  }

  app-devices {
    height: 100%;
    width: 100%;
  }
}
