<div class="container">
  <div class="search-container">
    <mat-form-field appearance="outline">
      <mat-icon matPrefix>search</mat-icon>
      <input matInput placeholder="Search">
    </mat-form-field>
    <button class="cancel-button" mat-button>Cancel</button>
  </div>

  <div class="device-container">
    <div class="devices-list">
      <app-devices (deviceSelected)="selectedItem = $event" [devicesList]="devices"></app-devices>
    </div>
    <div class="device-details">
      <p *ngIf="!selectedItem">Select one of the devices</p>
      <app-device-details *ngIf="selectedItem" [selectedItem]="selectedItem"></app-device-details>
    </div>
  </div>
</div>