.container {
  height: calc(100% - 65px);
  flex-direction: column;
  box-sizing: border-box;
  display: flex;
  gap: 30px;
  max-height: 720px;

  .search-container,
  .device-container {
    flex-direction: row;
    box-sizing: border-box;
    display: flex;
    place-content: center space-around;
    align-items: center;
  }

  .search-container {
    height: 100px;
  }

  .device-container {
    height: 100%;

    .devices-list,
    .device-details {
      height: 100%;
      overflow-y: auto;
      flex-direction: column;
      box-sizing: border-box;
      display: flex;
      place-content: center space-around;
      align-items: center;
      width: 48%;
    }

    .devices-list {
    }

    .device-details {
      background-color: cornflowerblue;
    }
  }

  app-devices {
    height: 100%;
    width: 100%;
  }
}
